<div fxFlexFill fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutGap="16px">
    <h1>{{poll.name}}</h1>
    <mat-radio-group fxLayout="column" fxLayoutGap="8px" [(ngModel)]="selectedChoice">
      <mat-radio-button *ngFor="let choice of poll.choices" value="{{choice.id}}">{{choice.body}}</mat-radio-button>
    </mat-radio-group>
    <button mat-flat-button *ngIf="selectedChoice"
            (click)="vote()"
            color="primary">Balsuoti</button>
  </div>
</div>
