<div fxLayout="row" class="main-container">
  <div fxFlex="50">
    <div class="main" fxLayout="column" fxLayoutAlign="center center">
      <h2>Aktyvūs balsavimai</h2>
      <div class="container" fxLayout="column" fxLayoutGap="16px" *ngIf="activePolls?.length > 0; else noPolls">
        <mat-card *ngFor="let poll of activePolls" fxLayout="column"> 
          <mat-card-title>{{poll.name}}</mat-card-title>
          <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
            <button (click)="stopPoll(poll.id)" mat-flat-button color="warn">Stabdyti</button>
            <button (click)="validatePoll(poll.id)" mat-flat-button color="primary">Validacija</button>
          </div>
        </mat-card>
      </div>
    </div>
    
    <ng-template #noPolls>
      <div *ngIf="!loadingPolls; else spinner">
        <h3>Šiuo metu nevyksta jokie balsavimai</h3>
      </div>
    </ng-template>
    
    <ng-template #spinner>
      <mat-progress-spinner mode="indeterminate" diameter="60"></mat-progress-spinner>
    </ng-template>
  </div>
  <div fxFlex="50">
    <div class="main" fxLayout="column" fxLayoutAlign="center center">
      <h2>Balsavimų užsakymai</h2>
      <div class="container" fxLayout="column" fxLayoutGap="16px" *ngIf="requests?.length > 0; else noRequests">
        <mat-card *ngFor="let request of requests" fxLayout="column"> 
          <mat-card-title>{{request.name}}</mat-card-title>
          <div fxLayout="row" fxLayoutAlign="start center">
            <div fxLayout="column" fxLayoutGap="6px">
              <span *ngFor="let item of request.choices">{{item}}</span>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
            <button (click)="rejectRequest(request.id)" mat-flat-button color="warn">Atmesti</button>
            <button (click)="approveRequest(request.id)" mat-flat-button color="primary">Patvirtinti</button>
          </div>
        </mat-card>
      </div>
    </div>
    
    <ng-template #noRequests>
      <div *ngIf="!loadingRequests; else spinner">
        <h3>Šiuo metu nepateikti jokie užsakymai</h3>
      </div>
    </ng-template>
    
    <ng-template #spinner>
      <mat-progress-spinner mode="indeterminate" diameter="60"></mat-progress-spinner>
    </ng-template>
  </div>
</div>