<div class="main" fxLayout="column" fxLayoutAlign="center center" *ngIf="!selectedPoll; else pollDetail">
  <h2>Visi balsavimai</h2>
  <div class="container" fxLayout="column" fxLayoutGap="16px" *ngIf="activePolls?.length > 0; else noPolls">
    <mat-card *ngFor="let poll of activePolls" fxLayout="column"> 
      <mat-card-title>{{poll.name}}</mat-card-title>
      <div fxLayout="row" fxLayoutAlign="end center">
        <button *ngIf="allowVote(poll.status)"(click)="selectedPoll = poll" mat-flat-button color="primary">Balsuoti</button>
        <button *ngIf="!allowVote(poll.status)" [routerLink]="['../results/' + poll.id]"mat-flat-button color="accent">Rezultatai</button>
      </div>
    </mat-card>
  </div>
</div>

<ng-template #pollDetail>
  <app-poll-detail [poll]="selectedPoll"></app-poll-detail>
</ng-template>

<ng-template #noPolls>
  <div *ngIf="!loading; else spinner">
    <h3>Nerasti jokie balsavimai</h3>
  </div>
</ng-template>

<ng-template #spinner>
  <mat-progress-spinner mode="indeterminate" diameter="60"></mat-progress-spinner>
</ng-template>


