
<mat-sidenav-container fxFlexFill>
    <mat-sidenav mode="side" [opened]="true">
      <div fxLayout="column" fxFlex="100">
        <div class="filler" fxLayout="column" fxLayoutAlign="end center" *ngIf="user">
          <span>{{rights[user.role].title}}</span>
          <span>{{user.firstName || 'DEMO'}} {{user.lastName || 'DEMO'}}</span>
        </div>
        <div fxFlex="calc(100% - 120px)" fxLayout="column" fxLayoutAlign="space-between center">
          <div class="navigation">
            <a [routerLink]="['admin']" routerLinkActive="active" *ngIf="rights[user.role].admin">
              <span>Administruoti balsavimus</span>
            </a>
            <a [routerLink]="['requests']" routerLinkActive="active" *ngIf="rights[user.role].requester">
              <span>Sukurti užsakymą</span>
            </a>
            <a [routerLink]="['all-requests']" routerLinkActive="active" *ngIf="rights[user.role].requester">
              <span>Užsakymai</span>
            </a>
            <a [routerLink]="['polls']" routerLinkActive="active">
              <span>Aktyvūs balsavimai</span>
            </a>
            <a [routerLink]="['all-polls']" routerLinkActive="active">
              <span>Visi balsavimai</span>
            </a>
            <a [routerLink]="['help']" routerLinkActive="active">
              <span>Pagalba</span>
            </a>
            <a [routerLink]="['settings']" routerLinkActive="active">
              <span>Nustatymai</span>
            </a>
          </div>
          <div class="navigation">
            <a (click)="logout()">
              <span>Atsijungti</span>
            </a>
          </div>
        </div>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <div fxFlexFill fxLayout="row">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
</mat-sidenav-container>
